.Attachment-item {
  display:      inline-block;
  margin-right: .5em;
  user-select:  none;
  cursor:       default;

  &.is-new {
    cursor: pointer;
    &:hover > .Attachment-name {
      text-decoration: line-through;
    }
  }

}

.Attachment-thumb {
  height:         1.5em;
  width:          1.5em;
  vertical-align: middle;
}

.Attachment-name {
  font-size: calc-em(11px);
}