.NewComment {
  @extend .Comment;
  margin:           0 0 3em;
  padding:          1.5em 0;
  background-color: $color-gray-lightest;
  border:           2px solid $divider-color;
  border-radius:    8px;
}

.NewComment-container {
  @extend .Container;
}

.NewComment-header {
  @extend .Comment-header;
}

.NewComment-avatar {
  @extend .Comment-avatar;
}

.NewComment-recipients {
  flex-grow: 1;
}

.NewComment-attach {
  position:     relative;
  margin-right: 1em;
  cursor:       pointer;

  > svg {
    height: 1.25em;
    width:  1.25em;
    fill:   $color-gray;
  }

  &:hover > svg {
    fill: $anchor-color;
  }

  > input[type="file"] {
    width:    0.1px;
    height:   0.1px;
    opacity:  0;
    overflow: hidden;
    position: absolute;
    z-index:  -1;
  }

}

.NewComment-body {
  @extend .Comment-body;
  padding:          0.25em;
  border:           1px solid $color-gray-light;
  background-color: #fff;

  &.has-focus {
    border-color: $anchor-color;
    &:before {
      border-bottom-color: $anchor-color;
    }
  }

  &:after {
    border-bottom-color: #fff;
  }

  &:before {
    border-bottom-color: $color-gray-light;
  }

  > textarea {
    width:            100%;
    padding:          calc-em(16px, 14px);
    border:           none;
    background-color: transparent;
    resize:           vertical !important;

    &:focus {
      outline: none !important;
    }
  }

}