.UserItem {
  @include link-colors-all($root-text-color);
  display:    block;
  margin-top: -1px;
  padding:    1em;
  border:     1px solid $divider-color;
  color:      $color-gray-darker;
  cursor:     pointer;

  &:hover {
    background-color: $color-gray-lightest;
    text-decoration:  none;
  }
}

.UserItem-name {
  font-weight: 700;
}

.UserItem-department {
  font-size: calc-em(14px);
}