//
//
// Variables & Mixins
//
//
@import "variables/variables";
//
//
// Starting point.
//
//
@import "../sunday-morning/core/sass/core";
@import "../sunday-morning/admin/sass/admin";
@import "../sunday-morning/forms/sass/forms";
//
//
// Components
//
//
@import "components/components";

/**
 ************************************************
 ************************************************
 ************************************************
 */

.Item {
  display:     flex;
  align-items: center;
}

.Item-image {
  font-size: 0; // Remove white space

  > img {
    font-size:     1rem;
    width:         3em;
    margin-right:  1rem;
    border-radius: 4px;
  }
}

.Item-header {
  font-weight: 700;
}

.ProjectStatus {
  display:        inline-block;
  min-width:      3em;
  font-size:      .6875rem;
  padding:        .454545455em .909090909em;
  border-radius:  3px;
  text-align:     center;
  font-weight:    700;

  line-height:    1;
  vertical-align: baseline;

  &--closed {
    background-color: #adadad;
    color:            #fff;
  }

  &--ordered {
    background-color: #129af8;
    color:            #fff;
  }

  &--backlog {
    background-color: #adadad;
    color:            #fff;
  }

  &--active {
    background-color: #ccc;
    color:            #fff;
  }

  &--idle {
    background-color: #f85e12;
    color:            #fff;
  }

  &--overdue {
    background-color: #f81212;
    color:            #fff;
  }

}